/* Webfont: RadiantCharisma-Bold */
@font-face {
    font-family: 'RadiantCharisma';
    src: url('RadiantCharisma-Bold.eot');
    /* IE9 Compat Modes */
    src: url('RadiantCharisma-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('RadiantCharisma-Bold.woff') format('woff'),
        /* Modern Browsers */
        url('RadiantCharisma-Bold.woff2') format('woff2'),
        /* Modern Browsers */
        url('RadiantCharisma-Bold.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}