/* Webfont: RadiantCharisma-ExtBdIta */@font-face {
    font-family: 'RadiantCharismaExtBd';
    src: url('RadiantCharisma-ExtBdIta.eot'); /* IE9 Compat Modes */
    src: url('RadiantCharisma-ExtBdIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RadiantCharisma-ExtBdIta.woff') format('woff'), /* Modern Browsers */
         url('RadiantCharisma-ExtBdIta.woff2') format('woff2'), /* Modern Browsers */
         url('RadiantCharisma-ExtBdIta.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

