/* Webfont: RadiantCharisma-ExtLtIta */@font-face {
    font-family: 'RadiantCharismaExtLt';
    src: url('RadiantCharisma-ExtLtIta.eot'); /* IE9 Compat Modes */
    src: url('RadiantCharisma-ExtLtIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RadiantCharisma-ExtLtIta.woff') format('woff'), /* Modern Browsers */
         url('RadiantCharisma-ExtLtIta.woff2') format('woff2'), /* Modern Browsers */
         url('RadiantCharisma-ExtLtIta.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

