/* Webfont: RadiantCharisma-Black */
@font-face {
    font-family: 'RadiantCharismaBlack';
    src: url('RadiantCharisma-Black.eot');
    /* IE9 Compat Modes */
    src: url('RadiantCharisma-Black.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('RadiantCharisma-Black.woff') format('woff'),
        /* Modern Browsers */
        url('RadiantCharisma-Black.woff2') format('woff2'),
        /* Modern Browsers */
        url('RadiantCharisma-Black.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: RadiantCharisma-BlackItalic */
@font-face {
    font-family: 'RadiantCharismaBlack';
    src: url('RadiantCharisma-BlackItalic.eot');
    /* IE9 Compat Modes */
    src: url('RadiantCharisma-BlackItalic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('RadiantCharisma-BlackItalic.woff') format('woff'),
        /* Modern Browsers */
        url('RadiantCharisma-BlackItalic.woff2') format('woff2'),
        /* Modern Browsers */
        url('RadiantCharisma-BlackItalic.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: RadiantCharisma-Bold */
@font-face {
    font-family: 'RadiantCharisma';
    src: url('RadiantCharisma-Bold.eot');
    /* IE9 Compat Modes */
    src: url('RadiantCharisma-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('RadiantCharisma-Bold.woff') format('woff'),
        /* Modern Browsers */
        url('RadiantCharisma-Bold.woff2') format('woff2'),
        /* Modern Browsers */
        url('RadiantCharisma-Bold.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: RadiantCharisma-Light */
@font-face {
    font-family: 'RadiantCharismaLight';
    src: url('RadiantCharisma-Light.eot');
    /* IE9 Compat Modes */
    src: url('RadiantCharisma-Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('RadiantCharisma-Light.woff') format('woff'),
        /* Modern Browsers */
        url('RadiantCharisma-Light.woff2') format('woff2'),
        /* Modern Browsers */
        url('RadiantCharisma-Light.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}