// General Style
section {
    padding: 4rem 0;
}

.btn {
    padding: 10px 65px;
    border: 1px solid $primary;
    border-radius: 50px;
    font-weight: bold;
    display: block;
}

.whatsapp {
    .bi-whatsapp {
        fill: $primary;
        height: 40px;
        width: 40px;
    }

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

header {
    .navbar-toggler-icon {
        filter: invert(100%);
    }
    .dropdown-menu {
        padding: 20px;
        border-radius: 0;
        background-color: $primary;
        * {
            color: white;
        }
    }

    .dropdown-item:hover {
        background-color: $secondary;
    }

    .dropdown-menu[data-bs-popper] {
        top: 95%;
    }

    .dropdown-toggle {
        background-color: transparent;
        padding: 10px 30px;

        &:hover {
            background-color: $secondary;
            .navbar-toggler-icon {
                filter: none;
            }
        }
    }

    .dropdown-toggle::after {
        display: none;
    }
}

.viver {
    @include background-cover;

    @include media-breakpoint-up(lg) {
        padding: 6rem 0 22rem;
    }
    @include media-breakpoint-up(xl) {
        padding: 6rem 0 27rem;
    }
    @include media-breakpoint-up(xxl) {
        padding: 6rem 0 30rem;
    }

    * {
        color: $blue;
    }
}

.zul {
    position: relative;
    * {
        color: $primary;
    }
    @include media-breakpoint-up(md) {
        &::before {
            position: absolute;
            content: "";
            background-image: url("/assets/images/zul.png");
            @include background-cover;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
        }
        .fixed {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                background-image: url("/assets/images/stamp.png");
                @include background-cover;
                display: block;
                top: 0;
                right: -102px;
                height: 170px;
                width: 204px;
                z-index: 100;
            }
        }
    }

    .text {
        padding: 2rem;
        h2 {
            position: relative;
            @include media-breakpoint-up(md) {
                padding-top: 10rem;
                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("/assets/images/zul-starts.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    top: 0;
                    left: 0%;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.morada {
    * {
        color: $primary;
    }
    @include media-breakpoint-up(md) {
        padding: 10rem 0;
        background-image: url("/assets/images/morada.png");
        // @include background-cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .btn {
        &:hover {
            background-color: $primary;

            color: $beige;
        }
    }
}

.hero {
    padding: 8rem;
    @include background-cover;
    h1 {
        color: white;
        text-align: center;
    }

    .sub {
        text-align: center;
        color: $blue;
    }
}

.plantas {
    * {
        color: $primary;
    }

    .nav-link {
        border: 1px solid transparent;

        &:hover {
            color: inherit;
            box-shadow: 0px 2px 5px $primary;
        }
    }

    .nav-link.active {
        border-bottom-color: $primary;
    }

    .tab-content {
        height: 600px;
        margin-top: 4rem;

        .tab-pane {
            height: 600px;
            max-height: 600px;
            text-align: center;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.onde {
    .btn {
        color: white;
        border-color: white;
        &:hover {
            background-color: white;
            color: $secondary;
        }
    }
}
